.modal__container .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
}

.modal__container .content {
  max-width: 800px;
  border-radius: 6px;
  background-color: white;
  outline: none;
  margin-top: 0;
}
@media (max-width: 1440px) {
  .modal__container .content {
    margin-top: 2%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .modal__container .content {
    margin-top: 7%;
  }
}
@media (max-width: 992px) {
  .modal__container .content {
    margin-top: 8%;
  }
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(190, 201, 220, 0.32);
  padding: 0 30px;
}
.modal__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__title {
  font-size: 20px;
  font-weight: bold;
  color: #3e4a60;
  display: flex;
  margin: 24px 0;
  text-transform: capitalize;
}
@media (max-width: 1440px) {
  .modal__title {
    margin: 15px 0;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .modal__title {
    margin: 10px 0;
  }
}
@media (max-width: 992px) {
  .modal__title {
    margin: 10px 0;
  }
}

.modal__closeIcon {
  color: #9ca5b2;
  cursor: pointer;
  width: 16px;
}
